* {
  box-sizing: border-box;
}

body {
  background: url(../img/bg/bg_white.jpg);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.container {
  max-width: 1280px;
  margin: 20px auto;
}

/* header */
.nav-box {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.nav-link {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  background-color: bisque;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  transition: 0.25s;
  box-shadow: 3px 3px 10px black;
}

.nav-link:hover {
  color: rgb(0, 0, 0);
  background-color: #fff;
}

/* footer */
.footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: antiquewhite;
}

.footer-link {
  color: #000;
  transition: 0.25s;
  font-size: 20px;
}

.footer-link:hover {
  transform: scale(1.5);
}

.footer-text {
  font-size: 15px;
  font-weight: 500;
}

/* main */
.main {
  min-height: calc(100vh - 163px);
}

/* index */
.bg-index {
  background: url(../img/image/it.png) no-repeat;
  background-size: 500px auto;
  background-position-y: 150px;
  background-position-x: 650px;
  margin-bottom: 0;
}

.index-title {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 110px;
  padding: 60px 0;
  text-shadow: 3px 3px 10px rgb(197, 113, 113);
}

.index-list-box {
  margin-bottom: 0;
}

.index-list {
  margin: 0 100px;
  list-style: square;
  font-size: 30px;
  font-weight: 400;
}

.index-img {
  width: 400px;
}

/* block_inline */
.block-inline-title {
  margin-top: 20px;
  margin-left: 10px;
  padding-top: 40px;
}

.block--inline-subtitle {
  margin-left: 10px;
}

.block {
  border: 1px solid #000;
  margin: 10px;
}

.inline {
  border: 1px solid #000;
  margin: 10px;
}

.block--inline {
  display: inline;
  border: 1px solid #000;
  margin: 10px;
}

.inline-block {
  display: block;
  border: 1px solid #000;
  margin: 10px;
}

/* normalize */
.description-normalize {
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  border: 1px solid black;
}

.normalize-img {
  width: 200px;
}

/* reset */

.description-reset {
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  border: 1px solid black;
}

/* display */

.display-h2 {
  margin-left: 10px;
  padding-top: 20px;
}


.display-block-box {
  display: block;
  margin-left: 10px;
}

.display-block {
  border: 1px solid black;
}

.display-inline-box {

  margin-left: 10px;
}

.display-inline {
  border: 1px solid black;
  display: inline;
  padding-right: 330px;
}

.display-flex-box {
  display: flex;
  justify-content: center;
}

.display-flex {
  border: 1px solid black;
  margin-right: 5px;
}

/* float_clear */
.float-box {
  padding-top: 10px;
  display: inline-block;
}

.float-right-title {
  font-size: 30px;
  font-weight: 400;
  margin: 10px;
}

.float-right-img {
  width: 250px;
  float: right;
  margin: 10px;
}

.float-right-txt {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  margin: 10px;
}

.float-left-title {
  font-size: 30px;
  font-weight: 400;
  margin: 10px;
}

.float-left-img {
  width: 250px;
  float: left;
  margin: 10px;
}

.float-left-txt {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  margin: 10px;
}

.float-clear-title {
  font-size: 30px;
  font-weight: 400;
  margin: 10px;
}

.float-clear-img {
  width: 250px;
  float: none;
  margin: 10px;
}

.float-clear-txt {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  margin: 10px;
}

/* overflow */

.display {
  display: flex;
  margin-top: 20px;
}

.overflow-title {
  margin: 0;
}

.overflow-box-visible {
  border: 2px double black;
  width: 300px;
  height: 300px;
  background-color: burlywood;
  margin: 20px auto;
}

.overflow-box-scroll {
  overflow: scroll;
  border: 2px double black;
  width: 300px;
  height: 300px;
  background-color: burlywood;
  margin: 20px auto;
}

.overflow-box-hidden {
  overflow: hidden;
  border: 2px double black;
  width: 300px;
  height: 300px;
  background-color: burlywood;
  margin: 20px auto;
}

.overflow-box-auto {
  overflow: auto;
  border: 2px double black;
  width: 300px;
  height: 300px;
  background-color: burlywood;
  margin: 20px auto;
}

/* main */
.position-main {
  margin-top: 20px;
  border: 5px double #000;
  position: relative;
  min-height: 1500px;
}


.static {
  display: flex;
  position: static;
  background-color: bisque;
  border: #000 2px solid;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
  display: flex;
  background-color: rgb(120, 5, 60);
  border: #000 2px solid;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-items: center;
  top: 50px;
  left: -50px;
}

.fixed {
  position: fixed;
  display: flex;
  background-color: rgb(3, 104, 159);
  border: #000 2px solid;
  width: 300px;
  height: 500px;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  margin: 0;
}


.absolute {
  position: absolute;
  display: flex;
  background-color: rgb(146, 80, 0);
  border: #000 2px solid;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  margin: 0;
}

.sticky {
  position: sticky;
  display: flex;
  background-color: rgb(48, 201, 186);
  border: #000 2px solid;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-items: center;
  top: 10px;
  z-index: 1;
}